.tos {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__wrapper {
    width: 80%;
    min-height: 100vh;
    padding-top: 150px;

    &__tos {
      margin-top: 40px;
      text-align: left;
      line-height: 30px;
      max-height: 60vh;
      overflow-y: auto;
    }

    &__back {
      display: flex;
      color: var(--color-red);
      margin-bottom: 20px;
      align-items: center;

      img {
        margin-right: 10px;
        transform: rotate(180deg);
        max-height: 12px;
      }
    }
  }
}
