.password-reset {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 280px;

    label {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
    }

    &__input {
      border: none;
      border-bottom: 2px solid rgba($color: #fff, $alpha: 0.5);
      background-color: transparent;
      padding: 10px 5px;
      outline: none;
      color: var(--color-white);
      width: 100%;
      max-width: 280px;
      margin-bottom: 20px;
    }

    &__notification {
      display: block;
      margin-top: 10px;
      color: var(--color-red);
      height: 150px;

      img {
        width: 20px;
        height: 20px;
      }

      span {
        margin-left: 10px;
      }
    }
  }
}
