.password-reset {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 280px;
    height: 50px;

    input {
      border: none;
      border-bottom: 2px solid rgba($color: #fff, $alpha: 0.5);
      background-color: transparent;
      padding: 10px 5px;
      outline: none;
      color: var(--color-white);
      width: 100%;
      max-width: 280px;
    }
  }
}
