:root {
  --color-white: #fff;
  --color-red: #ae0b00;
  --color-black: #0a0f03;
  --color-black-transparent: #0a0f03c0;
  --color-green: #00ae0b;
  --color-fade-to-black: linear-gradient(to bottom, #000, rgba(10, 15, 3, 0));
  --color-gray: #1c1d18;
}
