.title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &__text {
    color: white;
    margin-bottom: 5px;
    text-align: left;
    font-size: 1em;
  }

  &:hover &__after {
    width: 5px;
  }

  &__after {
    transition: 0.2s;
    width: 25px;
    height: 2px;
    background-color: var(--color-red);
  }
}
