.admin-product {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  height: 150px;

  &:first-child {
    margin-top: 120px;
  }

  &:last-child {
    box-sizing: content-box;
    padding-bottom: 120px;
  }

  &__img {
    max-width: 150px;
    box-shadow: 0px 0px 50px 0px #000;
    margin-right: 40px;
  }

  &__header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 240px;
    margin-right: 40px;

    &__title {
      font-size: 1.5em;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      color: var(--color-red);
      margin-bottom: 10px;
      margin-top: 0;
      text-align: left;
    }

    &__artist {
      font-size: 1.1em;
      margin-top: 0;
      margin-left: 10%;
    }
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;

    &__price {
      font-size: 2em;
    }

    &__per-item {
      margin-left: 10px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;

    &__delete {
      color: var(--color-red);
      cursor: pointer;
    }
  }
}
