.product-detail {
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;

  &__album-title {
    position: absolute;
    width: 50%;
    top: 50%;
    height: 40%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 200px;

    &__title {
      opacity: 1;
      text-align: left;
      text-transform: uppercase;
      color: var(--color-red);
      font-size: 5em;
      margin-bottom: 10px;
    }

    &__subtitle {
      opacity: 1;
      text-align: left;
      margin-left: 50px;
      text-transform: uppercase;
      color: var(--color-white);
      font-size: 2em;
      margin-top: 0;
    }
  }

  &__nav {
    z-index: 11;
    position: absolute;
    width: 50%;
    height: 40%;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow-x: visible;

    ::-webkit-scrollbar-thumb {
      height: 0px;
      width: 0;
    }

    &__buttons {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      a {
        line-height: 0;

        .button-next,
        .button-previous {
          padding: 0;
          width: 100%;
          width: 120px;
          height: 120px;
          border: 0;
          outline: 0;
          margin: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--color-gray);
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            opacity: 0.8;
          }

          img {
            width: 15px;
          }
        }

        .button-next {
          transform: rotate(180deg);
        }
      }
    }

    &__current-album {
      padding: 20px;
      background-color: var(--color-gray);

      img {
        height: 250px;
        width: 250px;
      }
    }

    &__next-albums {
      width: auto;
      display: flex;

      &__album {
        background-color: var(--color-gray);
        padding: 20px;
        height: 200px;
        width: 200px;
        opacity: 1;

        img {
          height: 100%;
          width: 100%;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }

  &__background-container {
    flex: 1;
    height: 100%;

    &__img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      filter: blur(5px);
      opacity: 0.1;
    }
  }

  &__content {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__wrapper {
      display: flex;
      height: 40%;
      width: 100%;
      background-color: transparent;

      .album-detail {
        display: flex;
        height: 100%;
        flex: 1;
        flex-direction: row;
        padding-right: 200px;

        &__tracklist {
          flex: 1;
          height: 100%;
          padding-top: 20px;
          padding-left: 20px;
          box-sizing: border-box;
          max-width: 500px;

          h4 {
            text-align: left;
            text-transform: uppercase;
            opacity: 1;
            margin-top: 0;
          }

          &__tracks {
            overflow: auto;
            background-color: transparent;
            overflow: hidden;

            p {
              position: relative;
              opacity: 1;
              text-align: left;
              margin: 2px 0;
              background-color: transparent;
            }
          }
        }

        &__price {
          flex: 1;
          height: 100%;
          text-align: left;
          max-width: 300px;
          padding-top: 20px;

          &__content {
            display: flex;

            &__left,
            &__right {
              flex: 1;
              height: 100%;
              min-height: 4em;
            }

            &__right {
              &__per-item {
                color: var(--color-white);
                margin: 0;
                line-height: 51px;
              }
            }

            &__price {
              margin-top: 30px;
              font-size: 2.5em;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .is404 {
    &__header {
      &__404 {
        font-size: 4rem;
        font-weight: 600;
      }

      &__content {
        margin-left: 40px;
      }
    }

    &__back-button {
      text-align: right;
      justify-content: flex-start;

      &__button span {
        text-transform: inherit;
      }
    }
  }
}
