.checkout-final {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    min-width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
      &__form {
        width: 100%;

        &__firstname,
        &__lastname,
        &__street,
        &__street-number,
        &__postal-code,
        &__city {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          margin-bottom: 20px;

          label {
            color: var(--color-white);
            display: block;
          }

          input {
            border: none;
            border-bottom: 2px solid rgba($color: #fff, $alpha: 0.5);
            background-color: transparent;
            padding: 10px 5px;
            outline: none;
            color: var(--color-white);
            width: 100%;
            max-width: 280px;
          }
        }

        &__street,
        &__street-number,
        &__city,
        &__postal-code {
          display: inline-flex;
        }

        &__street-number {
          width: 100px;
          margin-left: 10px;
        }

        &__street {
          width: 170px;
        }

        &__postal-code {
          margin-right: 10px;
          width: 90px;
        }

        &__birthdate {
          margin-bottom: 20px;

          input {
            margin-left: 75px;
            width: 150px;
          }
        }

        &__country {
          select {
            width: 150px;
            margin-left: 80px;
          }
        }
      }
    }
  }
}
