.footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;

  .audio-wrapper {
    background-color: transparent;
    height: 100%;
    width: 30%;
    min-width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
