.footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  z-index: 10;

  .audio-wrapper {
    background-color: transparent;
    height: 100%;
    width: 30%;
    min-width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__credits {
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-red);
    }
  }
}
