.admin-order {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  height: 150px;

  &:first-child {
    margin-top: 120px;
  }

  &:last-child {
    box-sizing: content-box;
    padding-bottom: 120px;
  }

  &__header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 180px;
    margin-right: 40px;

    &__id {
      font-size: 1.5em;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      color: var(--color-red);
      margin-bottom: 10px;
      margin-top: 0;
      text-align: left;
    }

    &__user {
      font-size: 1.1em;
      margin-top: 0;
      margin-left: 10%;
    }
  }

  &__date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    margin-right: 50px;
  }

  &__products {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    width: 300px;

    &__title {
      font-weight: 600;
    }
  }

  &__price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 200px;

    &__price {
      font-size: 2em;
    }

    &__per-item {
      margin-left: 10px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;

    &__not-shipped-yet,
    &__shipped {
      cursor: pointer;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-red);
      transition: 0.1s ease;
      opacity: 0.3;

      &:hover {
        filter: brightness(80%);
      }

      img {
        height: 50%;
        aspect-ratio: 1/1;
      }
    }

    .marked {
      opacity: 1;
    }

    &__not-shipped-yet {
      margin-right: 20px;
    }
  }
}
