.admin-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__form {
    min-width: 230px;

    &__username,
    &__password {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        color: var(--color-white);
        display: block;
      }

      input {
        border: none;
        border-bottom: 2px solid rgba($color: #fff, $alpha: 0.5);
        background-color: transparent;
        padding: 10px 5px;
        outline: none;
        color: var(--color-white);
        width: 100%;
        max-width: 280px;
      }
    }

    &__errors {
      width: 100%;
      color: white;
      margin-bottom: 20px;

      &__errors {
        padding: 0;
        margin: 0;
        list-style-type: none;

        &__error {
          margin: 0;
          padding: 0;
          margin: 5px 0;
          font-size: 0.9em;
          color: var(--color-red);
        }
      }
    }
  }
}
